[submodule "lab2/lib/forge-std"]
	path = lab2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lab2/lib/openzeppelin-contracts"]
	path = lab2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lab4/lib/forge-std"]
	path = lab4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lab4/lib/openzeppelin-contracts"]
	path = lab4/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lab4/lib/chainlink"]
	path = lab4/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lab5/lib/forge-std"]
	path = lab5/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lab5/lib/openzeppelin-contracts"]
	path = lab5/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lab6/lib/forge-std"]
	path = lab6/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lab6/lib/openzeppelin-contracts"]
	path = lab6/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
